* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

#pagepiling {
  width: 100%;
  height: 100%;
}

.section {
  width: 100%;
  height: 100vh;
}

.section span {
  display: block;
  font-size: 30px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pp-easing {
  -webkit-transition: all 2000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
  -moz-transition: all 2000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
  -o-transition: all 2000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
  transition: all 2000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
  -moz-transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
  -o-transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
  transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
  /* custom */
}

#pp-nav {
  display: none !important;
}